In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as soup


anroid_url="https://en.wikipedia.org/wiki/Android_version_history"
anroid_data=urlopen(anroid_url)
anroid_html=anroid_data.read()
anroid_data.close()


anroid_soup=soup(anroid_html,'html.parser')
tables=anroid_soup.findAll('table',{'class':'wikitable'})
anroid_table=tables[0];


all_cols =  anroid_table.findAll('th')
col_title= [ct.text[:-1] for ct in all_cols]


table_row=[]
all_rows=anroid_table.findAll('tr')[1:]
for row in all_rows:
    curr_row=[]
    temp_row=row.findAll('td',{})
    for idx,data in enumerate(temp_row):
        curr_row.append(data.text[:-1])
    table_row.append(curr_row)
# print(table_row) 


filename='anroid_version_history.csv'
with open(filename,'w') as f:
    header_string=','.join(col_title)
    header_string+='\n'
    f.write(header_string)
    
    for row in table_row:
        row_string=""
        for w in row:
            w=w.replace(',','')
            row_string+=w+','
        row_string+='\n'
        f.write(row_string)
    
import pandas as pd
df=pd.read_csv('anroid_version_history.csv')
df.head(n=10)

,Code name,Version number(s),Initial release date,API level,References
No codename,1.0,September 23 2008,1,[9],NaN
1.1,February 9 2009,2,[9][11],NaN,NaN
Cupcake,1.5,April 27 2009,3,NaN,NaN
Donut,1.6,September 15 2009,4,[12],NaN
Eclair,2.0 – 2.1,October 26 2009,5 – 7,[13],NaN
Froyo,2.2 – 2.2.3,May 20 2010,8,[14],NaN
Gingerbread,2.3 – 2.3.7,December 6 2010,9 – 10,[15],NaN
Honeycomb,3.0 – 3.2.6,February 22 2011,11 – 13,[16],NaN
Ice Cream Sandwich,4.0 – 4.0.4,October 18 2011,14 – 15,[17],NaN
Jelly Bean,4.1 – 4.3.1,July 9 2012,16 – 18,[18],NaN