In [1]:
# !pip install requests
# !pip install html5lib
# !pip install bs4

In [2]:
import requests
import bs4

url=input("enter the url")
response=requests.get(url)

bs=bs4.BeautifulSoup(response.text,"html.parser")
print(bs.h1)

enter the urlhttps://codechef.com
<h1 class="left">
<a href="/" title=""><img alt="CodeChef is a non-commercial competitive programming community" id="logo" src="/sites/all/themes/abessive/logo.svg"/><span></span></a>
</h1>

In [3]:
new_text=bs.prettify()
# print(new_text)
# This will print complete html in a complete beautified format

In [4]:
# If a file is not present it will create a file and then write so use w+ not w

file_name="web_scrape.html"
with open(file_name,"w+") as f:
    f.write(new_text)

all_img=bs.find_all('img')
all_anc=bs.find_all('a')

no_of_img=len(all_img)
print(no_of_img)

3

In [5]:
html_doc = """
<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>
"""

In [6]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_doc, 'html.parser')

print(soup.prettify())

<html>
 <head>
  <title>
   The Dormouse's story
  </title>
 </head>
 <body>
  <p class="title">
   <b>
    The Dormouse's story
   </b>
  </p>
  <p class="story">
   Once upon a time there were three little sisters; and their names were
   <a class="sister" href="http://example.com/elsie" id="link1">
    Elsie
   </a>
   ,
   <a class="sister" href="http://example.com/lacie" id="link2">
    Lacie
   </a>
   and
   <a class="sister" href="http://example.com/tillie" id="link3">
    Tillie
   </a>
   ;
and they lived at the bottom of a well.
  </p>
  <p class="story">
   ...
  </p>
 </body>
</html>

In [7]:
print(soup.title)

<title>The Dormouse's story</title>

In [8]:
print(soup.title.name)

title

In [9]:
print(soup.title.string)

The Dormouse's story

In [10]:
soup.title.parent.name

'head'

In [11]:
soup.p

In [12]:
soup.p['class']

['title']

In [13]:
soup.find_all('a')

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [14]:
for link in soup.find_all('a'):
    print(link.get('href'))

http://example.com/elsie
http://example.com/lacie
http://example.com/tillie

# Scarpping a wikipedia page

In [22]:
import bs4
from urllib.request import urlopen


anroid_url="https://en.wikipedia.org/wiki/Android_version_history"


anroid_data=urlopen(anroid_url)
print(type(anroid_data))


anroid_html=anroid_data.read()
# print(anroid_html)
anroid_data.close()


# It is a good practise to close the data

<class 'http.client.HTTPResponse'>

In [23]:
from bs4 import BeautifulSoup as soup


anroid_soup=soup(anroid_html,'html.parser')
# print(anroid_soup)
print(type(anroid_soup))

<class 'bs4.BeautifulSoup'>

In [24]:
# findAll will return the list of all the img say 
# Tag along with empty dictonary is passed


list_of_img=anroid_soup.findAll('img',{})


# for c in list_of_img:
    # print(c)  
    # print('\n')

## Inspect the specific table that you want to find and search for its class and id

In [27]:
# It is also possible that class have multiple names in that case 'class':'xyz abc'


tables=anroid_soup.findAll('table',{'class':'wikitable'})
print(len(tables))



# Say we have 31 tables with class wikitable so get the first table in the list


useful_table=tables[0]
# print(useful_table)

31

## Now we will clean the useful table

In [29]:
# Find all the coloumn names
# Sari rows 'tr' hoti hai jisme heading hoti hai vo 'th' column and baki sare 'td' coloumn


headers=useful_table.findAll('th')
print(headers)
print(len(headers))

[<th>Code name
</th>, <th>Version number(s)
</th>, <th>Initial release date
</th>, <th>API level
</th>, <th>References
</th>]
5

In [31]:
# To get actual name of the headers we use

for i in range(0,len(headers)):
    print(headers[i].text)

Code name

Version number(s)

Initial release date

API level

References

In [32]:
coloumn_titles=[ct.text for ct in headers]
print(coloumn_titles)

['Code name\n', 'Version number(s)\n', 'Initial release date\n', 'API level\n', 'References\n']

### We are also getting '\n' so we can remove that by slicing as follows

In [33]:
coloumn_titles=[ct.text[:-1] for ct in headers]
print(coloumn_titles)

['Code name', 'Version number(s)', 'Initial release date', 'API level', 'References']

## Now we will scrape the row data

In [34]:
# We have written [1:] as we want all the rows except the first row


rows_data=useful_table.findAll('tr')[1:]
# Above signifies getting the rows starting the rows starting from index 1


first_row=rows_data[0].findAll('td',{})

for d in first_row:
    print(d.text)

No codename

1.0

September 23, 2008

1

[9]

## Now we will iterate all the rows(tr) and all the coloumns(td or th) in a particular row

In [37]:
table_row=[]

# Rows data have all rows except the first row 
for row in rows_data:
    current_row=[]
    all_td_of_row=row.findAll('td',{})
    
    
    for id,data in enumerate(all_td_of_row):
        current_row.append(data.text[:-1])
    table_row.append(current_row)


for i in range(0,len(table_row)):
    print(table_row[i])
    print(len(table_row[i]))

['No codename', '1.0', 'September 23, 2008', '1', '[9]']
5
['1.1', 'February 9, 2009', '2', '[9][11]']
4
['Cupcake', '1.5', 'April 27, 2009', '3', '']
5
['Donut', '1.6', 'September 15, 2009', '4', '[12]']
5
['Eclair', '2.0 – 2.1', 'October 26, 2009', '5 – 7', '[13]']
5
['Froyo', '2.2 – 2.2.3', 'May 20, 2010', '8', '[14]']
5
['Gingerbread', '2.3 – 2.3.7', 'December 6, 2010', '9 – 10', '[15]']
5
['Honeycomb', '3.0 – 3.2.6', 'February 22, 2011', '11 – 13', '[16]']
5
['Ice Cream Sandwich', '4.0 – 4.0.4', 'October 18, 2011', '14 – 15', '[17]']
5
['Jelly Bean', '4.1 – 4.3.1', 'July 9, 2012', '16 – 18', '[18]']
5
['KitKat', '4.4 – 4.4.4', 'October 31, 2013', '19 – 20', '[19]']
5
['Lollipop', '5.0 – 5.1.1', 'November 12, 2014', '21 – 22', '[20]']
5
['Marshmallow', '6.0 – 6.0.1', 'October 5, 2015', '23', '[21]']
5
['Nougat', '7.0 – 7.1.2', 'August 22, 2016', '24 – 25', '[22][23][24][25]']
5
['Oreo', '8.0 – 8.1', 'August 21, 2017', '26 – 27', '[26]']
5
['Pie', '9.0', 'August 6, 2018', '28', '[27]']
5
['Android 10', '10.0', 'September 3, 2019', '29', '[28]']
5
['Android 11', '11.0', 'TBD', '', '']
5

# Creating a csv file for the above scrapping

In [39]:
file_name='anroid_version_history.csv'

with open(filename,'w+') as f:
    # To add heading
    header_string=','.join(coloumn_titles)
    
    
    # Have a new line after heading
    header_string+='\n'
    
    
    f.write(header_string)
    
    
    # Now say we want dates not to be comman seprated so that pandas operation are easy
    for row in table_row:
        row_string=""
        for w in row:
            # Replace comma with NULL string
            w=w.replace(',','')
            row_string+=w+','
        row_string+='\n'
        f.write(row_string)

## Now Presenting csv data in tabular format

In [40]:
import pandas as pd
df=pd.read_csv('anroid_version_history.csv')
df

,Code name,Version number(s),Initial release date,API level,References
No codename,1.0,September 23 2008,1,[9],NaN
1.1,February 9 2009,2,[9][11],NaN,NaN
Cupcake,1.5,April 27 2009,3,NaN,NaN
Donut,1.6,September 15 2009,4,[12],NaN
Eclair,2.0 – 2.1,October 26 2009,5 – 7,[13],NaN
Froyo,2.2 – 2.2.3,May 20 2010,8,[14],NaN
Gingerbread,2.3 – 2.3.7,December 6 2010,9 – 10,[15],NaN
Honeycomb,3.0 – 3.2.6,February 22 2011,11 – 13,[16],NaN
Ice Cream Sandwich,4.0 – 4.0.4,October 18 2011,14 – 15,[17],NaN
Jelly Bean,4.1 – 4.3.1,July 9 2012,16 – 18,[18],NaN
KitKat,4.4 – 4.4.4,October 31 2013,19 – 20,[19],NaN
Lollipop,5.0 – 5.1.1,November 12 2014,21 – 22,[20],NaN
Marshmallow,6.0 – 6.0.1,October 5 2015,23,[21],NaN
Nougat,7.0 – 7.1.2,August 22 2016,24 – 25,[22][23][24][25],NaN
Oreo,8.0 – 8.1,August 21 2017,26 – 27,[26],NaN
Pie,9.0,August 6 2018,28,[27],NaN
Android 10,10.0,September 3 2019,29,[28],NaN
Android 11,11.0,TBD,NaN,NaN,NaN

In [42]:
df.head(n=3)

,Code name,Version number(s),Initial release date,API level,References
No codename,1.0,September 23 2008,1,[9],NaN
1.1,February 9 2009,2,[9][11],NaN,NaN
Cupcake,1.5,April 27 2009,3,NaN,NaN

In [44]:
df.iloc[0][1]

'September 23 2008'